{% extends "base.html" %}
{% load cart %}
{% load custom_filter %}
{% load static %}
{% block content %}



<h1 class="text-center fw-bold mt-5">About Us</h1>

<!-- Popular Products Section -->
{% comment %} <div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h3 class="text-background-black" >Most Popular Products {{ Customer.first_name }}</h3>
    </div>

    <!-- Filter Sidebar -->
    <div class="col-lg-3">
      <div class="list-group">
        <a href="/about" class="list-group-item list-group-item-action">All Products</a>
        {% for category in Categories %}
        <a href="{% url 'about' %}?category={{ category.id }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>

  
  <div class="col-lg-9 mx-auto" id="product">
    <div class="row mx-auto">
      {% for product in products|slice:":3" %}
      <div class="card mx-auto mb-3 product-card" id="{{ product.id }}" style="width: 18rem;">
        <img src="{{ product.image.url }}" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.category }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> {% endcomment %}

<section id="about" class="mt-5 about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-6">
        <h2>About Us</h2>
        <h3>Welcome to Elites Custom Gear, your trusted partner in creating high-performance martial arts protective gear, training equipment, and sports apparel.   </h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          At Elites, we are fuelled by a commitment to quality and a passion for empowering athletes with gear tailored precisely to their unique needs and aspirations. 
          
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>Elites Custom Gear combines extensive industry expertise with a drive for innovation. We recognize the crucial role that top-quality equipment plays in enhancing performance, ensuring safety, and inspiring confidence for every athlete, at every level. </li>
          <li><i class="ri-check-double-line"></i> What sets Elites apart is our dedication to craftsmanship and customization. Our team meticulously designs and produces protective gear and sportswear that consistently exceeds industry standards. Each product is crafted with exacting care, using advanced materials and technologies to deliver unparalleled comfort, durability, and performance. </li>
          <li><i class="ri-check-double-line"></i> At Elites, we are dedicated to fostering a community of resilience, dedication, and passion for sports. Our mission is to be more than just a provider of exceptional gear—we are a steadfast partner on your journey toward achieving your goals.  </li>
          <li><i class="ri-check-double-line"></i>Join us in embracing excellence, breaking boundaries, and elevating your performance with gear that’s as committed to your success as you are.  </li>
        </ul>
        <p class="fst-italic">
          “Elites Custom Gear – Where Precision Fuels Passion” 
        </p><br><br><br><br>
      </div>
    </div>

  </div>
</section><!-- End About Section -->



{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}