{% extends "base.html" %}
{% load custom_filter %}
{% block content %}
{% load cart %}


<div class="container">
  <div class="border rounded p-4 m-4">
    <p class="display-4 text-center">{{ Customer.first_name }} Cart</p>
    <hr>
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">S No</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            {% comment %} <th scope="col">Price</th> {% endcomment %}
            {% comment %} <th scope="col">Quantity</th> {% endcomment %}
            <th scope="col">Detail</th>
            {% comment %} <th scope="col">Total</th> {% endcomment %}
            <th scope="col">Action</th> <!-- New Action column -->
          </tr>
        </thead>
        
        <tbody>
          {% if cart_items %}
            {% for item in cart_items %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><img style="height: 50px;" {% comment %} class="rounded-circle"{% endcomment %} src="{{ item.product.image.url }}" alt=""></td>
              <td><a href="{% url 'cart_page' item.product.id %}">{{ item.product.name }}</a></td>
              {% comment %} <td>{{ item.product.price | currency }}</td> {% endcomment %}
              {% comment %} <td>{{ item.quantity }}</td> {% endcomment %}
        
              <td>
                {% if item.color or item.fabric or item.material or item.size or item.customization or item.type or item.gsm or item.chosequantity  %}
                  <ol>
                    {% if item.color %}<li>Color: {{ item.color }}</li>{% endif %}
                    {% if item.fabric %}<li>fabric: {{ item.fabric }}</li>{% endif %}
                    {% if item.material %}<li>Material: {{ item.material }}</li>{% endif %}
                    {% if item.size %}<li>Size: {{ item.size }}</li>{% endif %}
                    {% if item.customization %}<li>Customization: {{ item.customization }}</li>{% endif %}
                    {% if item.type %}<li>Type: {{ item.type }}</li>{% endif %}
                    {% if item.gsm %}<li>GSM: {{ item.gsm }}</li>{% endif %}
                    {% if item.chosequantity %}<li>Quantity: {{ item.chosequantity }}</li>{% endif %}
                  </ol>
                {% endif %}
              </td>
        
              {% comment %} <td>{{ item.quantity|multiply:item.product.price|currency }}</td> {% endcomment %}
              
              <!-- Action column for deleting the specific item -->
              <td>
                <form method="POST" action="{% url 'update_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ item.product.id }}">
                    <input type="hidden" name="remove" value="true">
                    <input type="hidden" name="color" value="{{ item.color }}">
                    <input type="hidden" name="fabric" value="{{ item.fabric }}">
                    <input type="hidden" name="material" value="{{ item.material }}">
                    <input type="hidden" name="size" value="{{ item.size }}">
                    <input type="hidden" name="customization" value="{{ item.customization }}">
                    <input type="hidden" name="type" value="{{ item.type }}">
                    <input type="hidden" name="gsm" value="{{ item.gsm }}">
                    <input type="hidden" name="chosequantity" value="{{ item.chosequantity }}">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
                <br>
                <a href="{% url 'cart_page' item.product.id %}?edit=true&color={{ item.color }}&fabric={{ item.fabric }}&material={{ item.material }}&size={{ item.size }}&customization={{ item.customization }}&type={{ item.type }}&gsm={{ item.gsm }}&chosequantity={{ item.chosequantity }}" class="btn btn-primary">Update</a>
            </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="8" class="text-center">Your cart is empty.</td>
            </tr>
          {% endif %}
        </tbody>

        {% if cart_total %}
        {% comment %} <tfoot>
          <tr>
            <th class="text-center" colspan="12">Total: {{ cart_total | currency }}</th>
          </tr>
        </tfoot> {% endcomment %}
        {% endif %}
      </table>
      <hr>
      {% if cart_items %}
      <form method="POST" action="{% url 'delete_cart' %}" class="m-3 p-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger border rounded col-lg-3 float-end">Delete Cart</button>
      </form>
      {% endif %}
      <div class="m-3 p-3">
        {% if cart_items %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary border rounded col-lg-3 float-end">Check out {{ Customer.first_name }}</a>
        {% else %}
        <a href="#" class="btn btn-secondary border rounded col-lg-3 float-end disabled">{{ Customer.first_name }} Please Buy Something</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Fill The Form For Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
          <form action="{% url 'checkOut' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{{ request.get_full_path }}">
            
            <div class="mb-3">
                <label for="address" class="form-label">Address <span class="text-danger">*</span></label>
                <input type="text" name="address" id="address" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" name="phone" id="phone" class="form-control" pattern="[0-9]*" maxlength="11">
            </div>
            
            <style>
              textarea::placeholder {
                color: #999; 
                font-style: italic; 
                opacity: 0.8; 
              }
            </style>
            
            <div class="mb-3">
              <label for="detail" class="form-label">Detail <span class="text-danger">*</span></label>
              <textarea name="detail" id="detail" class="form-control" rows="4" placeholder="500 Word Limit" required></textarea>
            </div>

            <!-- Include hidden fields for product attributes -->
            {% for item in cart_items %}
              <input type="hidden" name="color_{{ forloop.counter }}" value="{{ item.color }}">
              <input type="hidden" name="fabric_{{ forloop.counter }}" value="{{ item.fabric}}">
              <input type="hidden" name="material_{{ forloop.counter }}" value="{{ item.material }}">
              <input type="hidden" name="size_{{ forloop.counter }}" value="{{ item.size }}">
              <input type="hidden" name="customization_{{ forloop.counter }}" value="{{ item.customization }}">
              <input type="hidden" name="type_{{ forloop.counter }}" value="{{ item.type }}">
              <input type="hidden" name="gsm_{{ forloop.counter }}" value="{{ item.gsm }}">
              <input type="hidden" name="chosequantity_{{ forloop.counter }}" value="{{ item.chosequantity }}">
              <input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ item.quantity }}">
              <input type="hidden" name="product_id_{{ forloop.counter }}" value="{{ item.product.id }}">
            {% endfor %}
            
            <input type="submit" class="btn btn-outline-info float-end" value="Check out">
        </form>
        
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
