{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-5 mx-auto border rounded p-5 shadow-lg">
      <h3 class="alert alert-light border rounded text-center py-3 mb-4" style="background: linear-gradient(45deg, #ff6f61, #ff9966); color: white; font-family: 'Roboto', sans-serif; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">Password Recovery</h3>

      {% if email_not_found %}
      <div class="alert alert-danger text-center">
        <strong>Warning!</strong> Email not found.
      </div>
      {% endif %}

      {% if security_mismatch %}
      <div class="alert alert-danger text-center">
        <strong>Warning!</strong> Security questions do not match.
      </div>
      {% endif %}

      <form action="/password_recovery/" method="POST">
        {% csrf_token %}
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="example@email.com"
          />
        </div>

        <!-- Security Questions -->
        <div class="mb-3">
          <label for="security_question_1" class="form-label">What is your favorite pet?</label>
          <input
            type="text"
            name="security_question_1"
            id="security_question_1"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="security_question_2" class="form-label">What is your city of birth?</label>
          <input
            type="text"
            name="security_question_2"
            id="security_question_2"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="security_question_3" class="form-label">What is the name of your first school?</label>
          <input
            type="text"
            name="security_question_3"
            id="security_question_3"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <input class="btn btn-info" type="submit" value="Recover Password">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}