{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-5 mx-auto border rounded p-5 shadow-lg">
      <h3 class="alert alert-light border rounded text-center py-3 mb-4" style="background: linear-gradient(45deg, #ff6f61, #ff9966); color: white; font-family: 'Roboto', sans-serif; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">Create an Account</h3>


            <!-- Image alert for password mismatch -->
            {% if password_mismatch %}
            <div class="alert alert-danger text-center">
              <strong>Warning!</strong> Passwords do not match!
            </div>
            {% endif %}

            {% if email_phone_match %}
            <div class="alert alert-danger text-center">
              <strong>Warning!</strong> An account with this email or phone number already exists.
            </div>
            {% endif %}

            {% if All_Required %}
            <div class="alert alert-danger text-center">
              <strong>Warning!</strong> All Fiels is Required
            </div>
            {% endif %}


      <form action="/signup/" method="POST">
        {% csrf_token %}
        <!-- First Name -->
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input
            type="text"
            name="first_name"
            id="first_name"
            class="form-control"
          />
        </div>
        
        <!-- Last Name -->
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input
            type="text"
            name="last_name"
            id="last_name"
            class="form-control"
          />
        </div>
        
        <!-- Phone -->
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input
            type="text"
            name="phone"
            id="phone"
            class="form-control"
          />
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="example@email.com"
          />
        </div>
        
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="********"
          />
        </div>

        <!-- Re-Enter Password -->
        <div class="mb-3">
          <label for="re_password" class="form-label">Re-Enter Password</label>
          <input
            type="password"
            name="re_password"
            id="re_password"
            class="form-control"
            placeholder="********"
          />
        </div>

        <div class="form-group">
          <input class="btn btn-info" type="submit" value="Create An Account">
          <a href="{% url 'login' %}" class="btn btn-info">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
